.select {
  width: 100%;
}

.selected {
  overflow: hidden;
  color: var(--black);
  font-size: 0.875rem;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.clear-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;;
  padding: 0.25rem;
  cursor: pointer;
  border-radius: 50%;
  color: var(--secondary);
  transition:
    color 150ms ease,
    background-color 150ms ease;

  &:hover {
    color: var(--neutral-700);
    background-color: var(--neutral-200);
  }
}

.optionValue{
  font-size: 14px;
  color: var(--black);
}

.label {
  line-height: 20px;
  font-size: 14px !important;
}