.work-container {
    padding-block: 2rem;
    padding-inline: clamp(1rem, 12.86vw - 1.57rem, 10rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    .work-title {
        font-size: 2rem;
        font-weight: 600;
        padding-bottom: 1rem;
    }

    .work-steps {
        position: relative;
        display: flex;
        width: 100%;
    }

    .step {
        display: flex;
        flex: 1; 
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: relative;
        z-index: 1;

        &:not(:last-child)::after {
            content: '';
            position: absolute;
            top: calc(clamp(40px, 3vw + 1rem, 60px) / 2);
            left: 50%;
            width: 100%;
            height: 2px;
            background-color: var(--neutral-300);
            z-index: -1; 
        }
    }

    .icon-box {
        height: clamp(40px, 3vw + 1rem, 60px);
        width: clamp(40px, 3vw + 1rem, 60px);
        border-radius: 50%;
        background-color: var(--success-100);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--primary-500);
        font-size: 1.5rem;
    }

    .work-text {
        font-size: 12px;
        text-align: center;
    }

    @media (max-width: 900px) {
        padding-inline: 1rem;

        .work-text {
            font-size: 9px;
        }

        .steps {
            gap: 0.5rem;
        }
    }

    @media (max-width: 600px) {
        .work-steps {
            flex-direction: column;
            gap: 1.5rem;
            align-items: stretch;
            padding-left: 2rem;
            
            &::before {
                display: none;
            }
        }

        .step {
            flex-direction: row;
            align-items: center;
            text-align: left;

            &:not(:last-child)::after {
                top: 50%;
                left: calc(clamp(40px, 3vw + 1rem, 60px) / 2);
                width: 2px;
                height: calc(100% + 1.5rem);
            }
        }

        .work-text {
            text-align: left;
        }
    }
}

.stats-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--black);
    color: var(--white);
    padding: clamp(1rem, 12rem - 10rem, 10rem);
    justify-content: space-evenly;
    
    .stats{
        text-align: center;
    }
    
    .stats-count{
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: -1.5px;
    
    }

    @media (max-width: 900px){
        grid-template-columns: 2fr 2fr;
        gap: 1rem;
    }

}

