.work-container{
    padding-block: 2rem; 
    padding-inline: clamp(1rem, 12.86vw - 1.57rem, 10rem); 
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    .work-title{
        font-size: 2rem;
        font-weight: 600;
        padding-bottom: 1rem;
    }

    .work-steps{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .step{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .icon-box{
        height: clamp(50px, 3vw + 1rem, 60px);
        width: clamp(50px, 3vw + 1rem, 60px);
        border-radius: 50%;
        background-color: var(--success-100);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--primary-500);
        font-size: 1.5rem;
    }

    .work-text{
        font-size: 12px;
    }

    @media (max-width: 900px) {
        padding-inline: 1rem;
    }
}