.step-label {
    padding: 0.5rem;

    @media (max-width: 900px) {
        padding: 0.5rem 1rem;
        font-size: 0.7rem;
    }
}

.step-icon {
    background-color: var(--primary-200) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 50%;
}