.doctors-container{
    width: 100%;
    padding: 1rem;
    padding-left: clamp(1rem, 12.86vw - 1.57rem, 10rem);
    padding-right: clamp(1rem, 12.86vw - 1.57rem, 10rem);


    .doctor-title{
        font-size: 1.5rem;
        font-weight: 500;
    }
    
    .doctors{
        padding-top: 2rem;
        display: flex;
        width: 100%;
        gap: 1rem;
        overflow-x: scroll; 
        -webkit-overflow-scrolling: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    @media (max-width: 900px) {
        padding: 1.5rem;

        .doctor-title{
            font-size: 1.3rem;
            font-weight: 500;
        }

        .doctors{
            -webkit-overflow-scrolling: touch;
        }
    }
}