.online-consultation {
    padding-inline: clamp(1rem, 12.86vw - 1.57rem, 10rem);
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title{ 
        margin-bottom: 2rem;
    }

    .benifits-box{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border: 1px solid var(--neutral-300);
        border-radius: calc(var(--border-radius) * 0.5px);
    }

    .box{
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .top{
            display: flex;
            align-items: center;
            gap: 8px;
        }
        
        .top-title{
            font-size: 1.2rem;
            font-weight: 600;
            color: var(--neutral-700);
        }

        .top-description{
            font-size: 0.9rem;
            color: var(--neutral-500);
        }
    }


    @media (max-width: 900px) {
        .benifits-box{
            display: flex;
            flex-direction: column;
        }
    }
}