.tests-page-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items:center;

}

.lab-test-container {
    max-width: 80vw;
    padding-inline: 5rem;
    width: 100%;
}
