.container{
    width: 100%;
}

.formContainer{
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
    max-width: 900px;
    margin: auto;
}

.information{
    border-radius: calc(var(--border-radius) * 1px);
    background-color: var(--white);
    height: fit-content;
}

.form{
    border-radius: calc(var(--border-radius) * 1px);
    background-color: var(--white);
}
.policy{
    margin-top: 16px;;
}

.policy {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  border-radius: calc(var(--border-radius) * 1px);
  background: var(--white);

  .title {
    font-size: 16px;
    font-weight: 600;
    color: #1f2937;
    margin-bottom: 2px;
  }

  .description {
    position: relative;
    padding-left: 16px;

    font-size: 13px;
    line-height: 1.5;
    color: var(--neutral-500);

    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: var(--neutral-400);
    }
  }
}

@media (max-width: 750px) {
    .formContainer{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .policy{
        padding: 20px 16px;
        gap: 4px;
        margin-top: 12px;
    }
}