.container {
    padding-block: 2rem;
}

.concern-container {
    padding-block: 1rem;
    padding-inline: 1rem;

    .concern-title {
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: -1px;
    }

    .concern-list {
        display: flex;
        padding-block: 1rem;
        overflow-x: auto;
        gap: 1rem;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .ailment-card {
        flex: 0 0 10rem;
        height: 10rem;
        padding: 1rem;

        .ailment-image {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 50%
        }

        .ailment-name {
            text-align: center;
            font-weight: 500;
            font-size: 0.8rem;
        }

        &:hover {
            scale: 1.05;
            transition: 0.3s ease-in-out;
        }
    }

    .vital-list {
        display: flex;
        padding-block: 1rem;
        overflow-x: auto;
        gap: 1.5rem;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .vital-card-wrapper {
        flex: 0 0 350px;
        display: flex;

        &>* {
            width: 100%;
        }

        @media (max-width: 600px) {
            flex: 0 0 300px;
        }
    }

    .benefit-list {
        display: flex;
        padding-block: 1rem;
        justify-content: space-evenly;
        overflow-x: auto;
        gap: 1rem;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    @media (max-width: 600px) {
        .concern-title {
            font-size: 1.3rem;
        }
    }

}
