.title-container {
    background-image: url('https://www.practostatic.com/consumer-home/practo-care/Assured_Form/assured-upload/assured-hero-doctor.png');
    background-size: cover;
    background-position: center;
    height: 30vh;
    width: 30%;
}