.popular-test-container{
    padding-block: 3rem;;
}

.popular-test-title{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -1px;
    padding-bottom: 8px;
}

.popular-test-tabs{
    border-bottom: 1px solid var(--primary-300);
    scroll-behavior: smooth;
}

.checkup-card-wrapper{
    border-radius: calc(var(--border-radius) * 1.5px);
    border: 1px solid var(--primary-200);
    flex: 0 0 300px;
}

.checkup-list-container{
    padding-top: 1rem;
}

.checkup-card-list{
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    &::-webkit-scrollbar{
        display: none;
    }
}
