.about-doctor-container {
  height: 93vh;
  width: 100%;
  background-color: var(--neutral-200);

  .about-doctor-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15vw;
    height: 70vh;

    @media (max-width: 900px) {
      margin: 0 7vw;
    }

    @media (max-width: 600px) {
      margin: 0 4vw;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
    }

    .about-doctor-header {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .doctor-title {
        font-size: 2.5rem;
        font-weight: 400;
        color: var(--neutral-600);
        max-width: 35vw;

        @media (max-width: 900px) {
          font-size: 2rem;
          max-width: 40vw;
        }

        @media (max-width: 600px) {
          font-size: 1.5rem;
          max-width: 50vw;
        }

        .top-priority {
          color: var(--black);
          font-weight: 800;
        }
      }

      .data-items {
        display: flex;

        .data-points {
          display: flex;
          flex-direction: column;
          gap: 10px;
          justify-content: center;

          @media (max-width: 900px) {
            font-size: 14px;
          }
        }
      }
    }

    .image {
      height: 300px;
      width: 300px;

      @media (max-width: 900px) {
        height: 250px;
        width: 250px;
      }
    }
  }

  .data-points-2 {
    display: flex;
    align-items: center;
    gap: 5rem;
    justify-content: center;
    width: 100%;
    max-width: 100vw;

    @media (max-width: 900px) {
      font-size: 13px;
      gap: 1.5rem;
    }

    @media (max-width: 600px) {
      flex-wrap: nowrap;
      gap: 1rem;
      padding: 0.7rem;
      align-items: flex-start;
    }

    .data-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .icon {
        height: 2rem;
        width: 2rem;

        @media (max-width: 900px) {
          height: 1.7rem;
          width: 1.7rem;
        }

        @media (max-width: 600px) {
          height: 1.4rem;
          width: 1.4rem;
        }
      }

      .text-item {
        text-align: center !important;
        font-size: 1rem;
      }
    }
  }
}