.head {
  background-color: var(--info-800);
  color: var(--white);
  padding: 3rem 0;

  @media (max-width: 600px) {
    padding: 2rem 1rem;
  }

  .footer-links {
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin: -1rem;

    .footer-section {
      width: 16.666%;
      padding: 1rem;
      box-sizing: border-box;

      .footer-section-title {
        margin-bottom: 1.25rem !important;
        font-size: 15px !important;
        font-weight: 700 !important;
      }

      .footer-links-items {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .footer-section-links {
          color: var(--white) !important;
          font-size: 13px !important;
          opacity: 0.8;
          text-decoration: none;
          font-weight: 500;
          transition: opacity 0.2s ease-in-out;

          &:hover {
            opacity: 1;
            text-decoration: none !important;
          }
        }
      }

      // Responsive footer sections
      @media (max-width: 900px) {
        flex: 0 0 33.333%;
        max-width: 33.333%;
        width: 33.333%;
        display: flex;
        flex-direction: column;
        align-content: center;
      }

      @media (max-width: 600px) {
        flex: 0 0 50%;
        max-width: 50%;
        width: 50%;
      }

      @media (max-width: 400px) {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
      }
    }
  }

  .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    gap: 1rem;

    .footer-section-image {
      display: flex;
      justify-content: center;

      .footer-logo {
        height: 40px;
      }
    }

    .footer-copyright {
      opacity: 0.7;
      font-size: 13px !important;
      font-weight: 500 !important;
    }
  }
}
