.offers-wrapper {
    padding: 0 10vw;
    margin-top: 2rem;
    margin-bottom: 2rem;

    @media (max-width: 900px) {
        padding: 0 1.5rem;
    }
}

.offers-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--neutral-900);

    @media (max-width: 900px) {
        font-size: 1.3rem;
    }
}

.offers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;

    @media (max-width: 900px) {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 4px;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}