.cart-card{
    width: 100%;

    .cart-card-content{
        padding-inline: 1rem;
        padding-top: 1rem;
        height: 7rem;
    }

    .cart-card-header{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .cart-card-header-title, .cart-card-header-price{
        font-weight: 600;
        font-size: 0.8rem;
    }

    .cart-card-header-price{
        color: var(--primary-500);
    }

    .cart-card-body-text{
        margin-block: 0.5rem;
        font-size: 0.7rem;
        color: var(--primary-700);
    }

    .cart-card-button{
        width: 100%;
        font-size: 0.8rem;
        border-radius: calc(var(--border-radius) * 1.5px);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

}

